<div class="site-navbar py-2">

    <div class="search-wrap">
      <div class="container">
        <a href="#" class="search-close js-search-close"><span class="icon-close2"></span></a>
        <form action="#" method="post">
          <input type="text" class="form-control" placeholder="Search keyword and hit enter...">
        </form>
      </div>
    </div>

    <div class="container">
      <div class="d-flex align-items-center justify-content-between">
        <div class="logo">
          <div class="site-logo">
            <a href="welcome.ejs" class="js-logo-clone">LapiTapy</a>
          </div>
        </div>
        <div class="main-nav d-none d-lg-block">
          <nav class="site-navigation text-right text-md-center" role="navigation">
            <ul class="site-menu js-clone-nav d-none d-lg-block">
              <li><a href="welcome.ejs">Home</a></li>
              <li><a href="shop.ejs">Store</a></li>
              <li class="has-children">
                <a href="#">Dropdown</a>
                <ul class="dropdown">
                  <li><a href="#">Dell</a></li>
                  <li class="has-children">
                    <a href="#">Types</a>
                    <ul class="dropdown">
                      <li><a href="#">Apple</a></li>
                      <li><a href="#">Acer</a></li>
                      <li><a href="#">Sony</a></li>
                      <li><a href="#">hp</a></li>
                    </ul>
                  </li>
                  <li><a href="#">Sony</a></li>
                  <li><a href="#">hp</a></li>

                </ul>
              </li>
              <li><a href="about.ejs">About</a></li>
              <li class="active"><a href="contact.ejs">Contact</a></li>
            </ul>
          </nav>
        </div>
        <div class="icons">
          <a href="#" class="icons-btn d-inline-block js-search-open"><span class="icon-search"></span></a>
          <a href="cart.ejs" class="icons-btn d-inline-block bag">
            <span class="icon-shopping-bag"></span>
            <span class="number">2</span>
          </a>
          <a href="#" class="site-menu-toggle js-menu-toggle ml-3 d-inline-block d-lg-none"><span
              class="icon-menu"></span></a>
        </div>
      </div>
    </div>
  </div>

  <div class="bg-light py-3">
    <div class="container">
      <div class="row">
        <div class="col-md-12 mb-0">
          <a href="welcome.ejs">Home</a> <span class="mx-2 mb-0">/</span>
          <strong class="text-black">Contact</strong>
        </div>
      </div>
    </div>
  </div>

  <div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h2 class="h3 mb-5 text-black">Get In Touch</h2>
        </div>
        <div class="col-md-12">
  
          <form action="/users/register" method="post">
  
            <div class="p-3 p-lg-5 border">
              <div class="form-group row">
                <div class="col-md-6">
                  <label for="c_fname" class="text-black">User Name <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_fname" name="c_fname"
                  placeholder="Enter Name"
                  value="<%= typeof name != 'undefined' ? name : '' %>"
                  
                  
                  />
                </div>
               <!---- <div class="col-md-6">
                  <label for="c_lname" class="text-black">Email <span class="text-danger">*</span></label>
                  <input type="text" class="form-control" id="c_lname" name="c_lname">
                </div>
              </div>-->
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_email" class="text-black">Email <span class="text-danger">*</span></label>
                  <input type="email" class="form-control" id="c_email" name="c_email" placeholder="Enter Email"
                  
                  value="<%= typeof email != 'undefined' ? email : '' %>"
                  
                 />
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_subject" class="text-black"> Password </label>
                  <input type="password" class="form-control" id="c_password" name="password"
                  placeholder="Create Password"
                  value="<%= typeof password != 'undefined' ? password : '' %>"/>
                </div>
              </div>
              <div class="form-group row">
                <div class="col-md-12">
                  <label for="password2" class="text-black">Confirm Password </label>
                  <input type="password" class="form-control" 
                  id="password2"
              name="password2"
              class="form-control"
              placeholder="Confirm Password"
              value="<%= typeof password2 != 'undefined' ? password2 : '' %>"
                   />
                </div>
              </div>
  
            <!----  <div class="form-group row">
                <div class="col-md-12">
                  <label for="c_message" class="text-black">Message </label>
                  <textarea name="c_message" id="c_message" cols="30" rows="7" class="form-control"></textarea>
                </div>
              </div>-->
              <div class="form-group row">
                <div class="col-lg-12">
                  <input type="submit" class="btn btn-primary btn-lg btn-block" value="Register">
                </div>
              </div>
            </div>
          </form>
            <p class="mb-0">Have an Account?<a href="/users/login">Login</a></p>
            
        </div>
        
      </div>
    </div>
  </div>



  <div class="site-section bg-primary">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h2 class="text-white mb-4">Offices</h2>
        </div>
        <div class="col-lg-4">
          <div class="p-4 bg-white mb-3 rounded">
            <span class="University of Sargodha">Pakistan</span>
            <p class="mb-0">University road UOS Sargodha</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="p-4 bg-white mb-3 rounded">
            <span class="University of Sargodha">Pakistan</span>
            <p class="mb-0">University road UOS Sargodha</p>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="p-4 bg-white mb-3 rounded">
            <span class="University of Sargodha">Pakistan</span>
            <p class="mb-0">University road UOS Sargodha</p>
          </div>
        </div>
      </div>
    </div>
    
  </div>


  <footer class="site-footer">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-lg-3 mb-4 mb-lg-0">

          <div class="block-7">
            <h3 class="footer-heading mb-4">About Us</h3>
            <p>We are providing different varity of laptops like Apple,Acer,Dell,hp and Sony</p>
          </div>

        </div>
        <div class="col-lg-3 mx-auto mb-5 mb-lg-0">
          <h3 class="footer-heading mb-4">Quick Links</h3>
          <ul class="list-unstyled">
             <li><a href="#">Apple</a></li>
            <li><a href="#">DELL</a></li>
            <li><a href="#">SONY</a></li>
            <li><a href="#">aacer</a></li>
          </ul>
        </div>

        <div class="col-md-6 col-lg-3">
          <div class="block-5 mb-5">
            <h3 class="footer-heading mb-4">Contact Info</h3>
            <ul class="list-unstyled">
              <li class="address">University o Sargodha Main Campus</li>
              <li class="phone"><a href="tel://23923929210">+923041296564</a></li>
              <li class="email">mansooralger@gmail.com</li>
            </ul>
          </div>


        </div>
      </div>
      
    </div>
  </footer>
